@charset "UTF-8";

.companion {
  display: flex;
}
.btn btn-primary{
	display: flex;
	background-color: yellow;
}
.person {
  padding: 3px;
  margin: 3px;
}

.meta_info {
  display: flex;
  justify-content: space-between;
}
.info {
  padding: 1px;
  margin: 1px;
}