.realTChat{
	max-width: 1000px;
  	padding: 25px;
  	margin: 0 auto;
  	background-color: #fff;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
}

.chat-message {
    margin-bottom: 10px; /* 채팅 메시지 간격을 조절합니다. */
}
    
    
    
#sendBtn {
    background-color: #FFC300;
    color: #ffffff; /* 글자색을 밝게 설정하면 좋습니다. */
}

.btns{
	max-width: 1000px;
  	padding: 25px;
  	margin: 0 auto;
  	background-color: #fff;
  	 display: flex;
    justify-content: center; /* 양 쪽 끝에 배치 */


}

.btns button{
	width: 400px;
	height: 100px;
	background-color: #ffc300;
  	color: #ffffff;
  	padding: 10px 20px;
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.header {
	max-width: 1000px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /*background-color: #f2f2f2; */
}

.location {
    flex: 1;
}

h2 {
    text-align: center;
    margin: 0;
}

.write {
    flex: 1;
    text-align: right;
}