@charset "UTF-8";

.containerFrame {
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
}

.centerFrame {
  display: flex;
  flex-direction: row;
}
.imageBtu {
  display: flex;
  justify-content: center;
}
.changeBtu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contentArea {	
  margin-bottom: 100px;
  margin-top: 50px;
  width: 60%;
  /* 추가 스타일 */
}

.menuArea {
  width: 30%;
  height: 50%;
  margin-top: 15%;
  margin-left: auto; /* auto로 설정하여 오른쪽 정렬이 아닌 왼쪽에 고정 */
  display: flex;
  flex-direction: column;
  align-items: center; /* div들을 수직으로 중앙에 정렬 */
}

.menuArea div {
  margin-bottom: 10px; /* 각 div 요소 사이의 간격 설정 */
}
.inputInfo {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  height: 50px; /* 이 부분을 50px로 변경 */
}

.inputInfo input {
  width: 100%;
  height: 100%; /* 이 부분을 100%로 변경 */
}

/*myPageApplyInfo*/
.myPageApplyInfoChangeMode {
  display: flex;
  flex-direction: row;
}
.myPageApplyInfoChangeMode button {
  margin: 0px;
  margin-left: 15px;
}

/* 프로필 이미지 버튼 스타일 */
.imgBtu {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffc300; /* 배경색 노란색으로 설정 */
  color: #fff; /* 텍스트 색상은 흰색으로 설정 */
  font-size: 18px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center; /* 텍스트 가운데 정렬을 추가 */
  line-height: 80px; /* 높이에 맞게 텍스트 정렬 */
}

/* 파일 입력 필드 숨기기 */
.file-input {
  display: none;
}

/* 이미지 스타일 */
.imgBtu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.selected-image {
   max-width: 100%;
   max-height: 200px;
   margin-top: 10px;
 }


