@charset "UTF-8";


.companion {
  display: flex;
}
.btn btn-primary{
	display: flex;
	background-color: yellow;
}
.person {
  padding: 3px;
  margin: 3px;
}

.meta_info {
  display: flex;
  justify-content: space-between;
}
.info {
  padding: 1px;
  margin: 1px;
}

.d-flex {
    display: initial!important;
}


.right{
    justify-content: flex-end;
    margin-left: auto;
    float: right;
}

.main{
	width: 800px;
	height: 600px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}